header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.card-body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.contacto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}